<section id="aboutDiv" class="aboutDiv">
    <div id="aboutMe" class="aboutMe">
        <h1 id="aboutMeTitle" class="aboutMe">About me</h1>
        <p id="aboutMeDesc" class="aboutMe">
            Olá, me chamo Rafael e sou um apaixonado desenvolvedor de software em constante busca por desafios estimulantes. Meu compromisso vai além da aplicação de habilidades existentes, estendendo-se ao desejo 
            contínuo de aprender, crescer e abraçar projetos desafiadores que ampliem meus horizontes no 
            desenvolvimento fullstack.
        </p>
        <ul id="aboutTopics">
            <li><span class="topics">Aprendizado Contínuo:</span><p>Estou sempre explorando novas linguagens de programação, 
                alimentando minha paixão por conhecimento técnico.
                Mergulho em projetos abrangentes, desde a concepção até a implementação, 
                buscando desafios que impulsionem minha criatividade e habilidades técnicas.</p></li>
            <li><span class="topics">Próximos Passos:</span><p>
                Em constante busca por oportunidades que não apenas testem minhas habilidades, mas que também me permitam contribuir para algo maior. Se compartilha a visão de 
                projetos desafiadores, estou pronto para conectar-me e explorar o próximo desafio juntos.
            </p></li>
            <li><span class="topics">Linguagens e Tecnologias:</span>
                <ul id="langsLi">
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/devicon/devicon-original.svg" />
                      <span class="langs">HTML | CSS | JavaScript</span></li>
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
                      <span class="langs">Angular</span></li>
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg" />
                      <span class="langs">Kotlin</span></li>
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" />
                      <span class="langs">Java</span></li>
                    <li>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqldeveloper/sqldeveloper-original.svg" />
                      <span class="langs">Sql | NoSql</span></li>
                </ul>
            </li>
        </ul>
    </div>  
</section>
