.projectsSection{
    overflow-y:visible;
    padding-top: 30px;
    margin:auto;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .projectsSection{
        padding-top: 30px ;
    }
}

@media screen and (max-width: 600px) {
    .projectsSection{
        padding-top: 40px ;
    }
    .projectsDiv{
        padding-top: 40px;
    }
}

.projectsDivTitle{
    background-color: rgba(255,145,77, 1) ;
    height: auto;
    padding: 20px;
    margin: 3% 0 ;
}


.projectsCarousel ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1%;
}

@media screen and (max-width: 780px) {
    .projectsCarousel ul{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.projCards{
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.projCardsLi:hover{
    transform: translateY(5px);
}


