<section id="contactDiv" class="contactDiv">
    <div id="contactDivContent" class="contactDivContent">
        <div id="contactDivLinks">
            <a class="contactDivLinks" href="https://www.linkedin.com/in/rafael-baltar/" target="_blank">
                <img class="contactDivLinks" src="./../../../assets/linkedin.jpg" alt="wppIcon">
                <span>in/rafael-baltar</span>
            </a>
            <a class="contactDivLinks" href="https://github.com/rafaelScobino" target="_blank">
                <img class="contactDivLinks" src="./../../../assets/github.jpg" alt="gitHubIcon">
                <span>github.com/rafaelScobino</span>
            </a>
            <a class="contactDivLinks" href="mailto:rafaelbaltar9@hotmail.com?" target="_blank">
                <img class="contactDivLinks" src="./../../../assets/email.jpg" alt="emilIcon">
                <span>rafaelbaltar9&#64;hotmail.com</span>
            </a>
        </div>
    </div>
</section>
<div id="copyDiv">
    <span>Copyright Scobino Rafael !=INC 2024 | Todos os direitos reservados</span>
</div>
