<section id="expDiv" class="expDiv">
    <div id="expDivTitle" class="expDivTitle">
        <h1>Experiências:</h1>
    </div>
    <div id="expDesc" class="expDesc">
        <ul>
            <li class="expCards"><app-exp-card
                [title] = "'Web Development'"
                [desc] ="'Foco em criação de Landing Pages Dinâmicas.'" 
                [imgUrl]="'./../../../assets/frontExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Python'"
                [desc] ="'Setup de servidor com Flask, front-end requests, conexão e criação de banco de dados'"  
                [imgUrl]="'./../../../assets/pythonExp.jpg'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Banco de Dados'"
                [desc] ="'Setup de banco de dados e CRUD.'"  
                [imgUrl]="'./../../../assets/sqlExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Java'"
                [desc] ="'POO, criação de GUI, Building Java Standalone'"  
                [imgUrl]="'./../../../assets/javaExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Git'"
                [desc] ="'Versionamento, Branch, Push, Pull and Merge.'"  
                [imgUrl]="'./../../../assets/gitExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'AWS'"
                [desc] ="'AWS elastic beanstalk Setup e Deploy'"  
                [imgUrl]="'./../../../assets/awsExp.jpg'"></app-exp-card></li>
        </ul>
    </div>
</section>