<section id="expDiv" class="expDiv">
    <div id="expDivTitle" class="expDivTitle">
        <h1>Experiências:</h1>
    </div>
    <div id="expDesc" class="expDesc">
        <ul>
            <li class="expCards"><app-exp-card
                [title] = "'Web Development'"
                [desc] ="'Foco em criação de Landing Pages Dinâmicas.'" 
                [imgUrl]="'./../../../assets/frontExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Back End'"
                [desc] ="'Foco em POO e conexão com banco de dados.'"  
                [imgUrl]="'./../../../assets/backExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Banco de Dados'"
                [desc] ="'Setup de banco de dados e CRUD.'"  
                [imgUrl]="'./../../../assets/sqlExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Blank'"
                [desc] ="'Aguardando Experiência.'"  
                [imgUrl]="'./../../../assets/logoWtBg.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Git'"
                [desc] ="'Versionamento, Branch, Push, Pull and Merge.'"  
                [imgUrl]="'./../../../assets/gitExp.png'"></app-exp-card></li>
            <li class="expCards"><app-exp-card
                [title]="'Blank'"
                [desc] ="'Aguardando Experiência.'"  
                [imgUrl]="'./../../../assets/logoWtBg.png'"></app-exp-card></li>
        </ul>
    </div>
</section>