<header>
    <div id="headerDiv" class="headerDiv">
        <img id="navDivImg" class="navDiv" src="./assets/logoWtBg.png" alt="scoRafaLogo">
        <nav class="navDiv">
            <ul id="navDivUl" class="navDivUl">
                <li class="navDivLi"><a href="./index.html">Main</a></li>
                <li class="navDivLi"><a href="#aboutMe">About Me</a></li>
                <li class="navDivLi"><a href="#expDiv">Experiences</a></li>
                <li class="navDivLi"><a href="#projectsSection">Projects</a></li>
                <!-- <li class="navDivLi"><a href="#gameDiv">Games</a></li> -->
                <li class="navDivLi"><a href="#contactDiv">Contact</a></li>
            </ul>
        </nav>
    </div>