<div id="projectCardDiv" class="projectCard">
    <iframe src="https://www.youtube.com/embed/DH0HtYkDDUU?si=lvQmIOL1apjk9xge" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h3>Title MORE ExpANSIVE</h3>
    <p>dog ipsum blop fluffer noods snoot
        mahm sleppy henlo boi teefs cronch smol mahm
        mahm sleppy henlo boi teefs cronch smol mahm
        mahm sleppy henlo boi teefs cronch smol mahm
        mahm sleppy henlo boi teefs cronch smol mahm 
        mahm sleppy henlo boi teefs cronch smol mahm
    </p>
    <p>Duration Time</p>
</div>

