.expCards:hover{
    transform: translateY(5px);
}

#projectCardDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-right: 5%;
    border: 2px solid rgb(255,145,77) ;
    border-radius: 10%;
    box-shadow: 1px 2px 15px  rgb(255,145,77)  ;
    padding: 3%;
    transition: 0.3 ease-in-out;
}

#videoDiv{
    height: 400px;
    width: 100%;
}

video{
    object-fit: fill;
    border-radius: 10%;
    height: 100%;
    width: 100%;
}

a{
    color: gray;
    text-decoration: underline;
}

a:hover{
    color: blue;
}