/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

*{
    color: white;
    font-family: monospace;
    text-decoration: none;
}
body{
    margin: 0;
}
